html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Montserrat, 'Source Sans Pro';
  font-style: normal;
  line-height: normal;
}
#slide-1{
  height: 100vh;
  background: #002243;
  position: relative;
  padding-top: 6.25vw;
  padding-left: 6.25vw;
  overflow: hidden;
  
}
.slide-1-logo{
  width: 8.8vw;
}
.slide-1-title{
  font-size: 6.66vw;
  font-weight: 400;
  color: #fff;
}
.slide-1-subtitle{
  font-size: 2.86vw;
  font-weight: 300;
  color: #F29A51;
}
.slide-2__img{
  position: absolute;
  top: 0;
  right: 0;
}
.slide-1-tesla-icons{
  width: 36.7vw;
  position: absolute;
  bottom: -3.9vh;
  right: -4.5vh;
}
.slide-1__text{
  margin-top: 8.75vw;
}
.slide-1-subtitle{
  margin-top: 1.4vh;
}
#slide-2{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-2-tesla-icons{
  position: absolute;
  width: 36.7vw;
  right: -4.5vh;
  top: -3.9vh;
}
.slide-2__text{
  font-size: 3.33vh;
  color: #fff;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 13.6vh;
  margin-bottom: 10.46vh
}
.slide-2__text span{
  font-weight: 700;
}
.slide-2__bg{
  height: 100vh;
  background-image: url(/icons/dsc0536-1-1-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}
.slide-2__img{
  position: absolute;
  top: 0;
  right: 0;
}
.slide-2__blurry-container-1{
  height: 140vh;
  width: 70vw;
  position: absolute;
  top: -20vh;
  left: 99.9vh;
  background: rgba(0, 36, 69, 0.70);
  filter: blur(200px);
}
.slide-2__blurry-container-2{
  height: 140vh;
  width: 70vw;
  position: absolute;
  top: -20vh;
  left: 82.3vw;
  background: rgba(0, 36, 69, 0.70);
  filter: blur(200px);
}
.grey-bg{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(217, 217, 217, 0.20);
}

#slide-3{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-3__bg{
  height: 100vh;
  background: url(/icons/img2707-1-bg.png) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}
.slide-3__text{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 300;
  font-size: 3.33vh;
  margin-bottom: 10.46vh;
  margin-left: 12.4vh;
}
.slide-3__text span{
  font-weight: 700;
}
.slide-3__blurry-container-1{
  height: 140vh;
  width: 70vw;
  position: absolute;
  top: -20vh;
  right: 91.9vh;
  background: rgba(0, 36, 69, 0.70);
  filter: blur(200px);
}
.slide-3__blurry-container-2{
  height: 140vh;
  width: 70vw;
  position: absolute;
  top: -20vh;
  right: 83.6vw;
  background: rgba(0, 36, 69, 0.70);
  filter: blur(200px);
}
#slide-4{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-4__bg{
  background-image: url(/icons/dsc0477-1.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}
.slide-4__text{
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-weight: 400;
  font-size: 3.33vh;
  margin-right: 9.1vh;
  margin-bottom: 10.46vh
}
.slide-4__text span{
  font-weight: 700;
}
.slide-4__blurry-container-1{
  height: 140vh;
  width: 70vw;
  position: absolute;
  top: -20vh;
  left: 101vh;
  background: rgba(0, 36, 69, 0.70);
  filter: blur(200px);
}
.slide-4__blurry-container-2{
  height: 140vh;
  width: 70vw;
  position: absolute;
  top: -20vh;
  left: 90vw;
  background: rgba(0, 36, 69, 0.70);
  filter: blur(200px);
}

#slide-5{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-5__bg{
  background: url(/icons/dsc-0590-1.png), lightgray 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;

}
.blue-bg{
  background-color: rgba(0, 34, 67, 0.85);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
}
.slide-5__title{
  position: absolute;
  top: 0;
  color: #fff;
  font-weight: 300;
  font-size: 3.33vh;
  top: 21vh;
  left: 36.5%;
  font-size: 5.92vh;
  margin-bottom: 11.11vh;
  
}
.slide-5__title span{
  font-weight: 700;
}
.slide-5__text span{
  font-weight: 700;
  
}
.slide-5__text{
  position: absolute;
  top: 0;
  color: #fff;
  font-weight: 300;
  font-size: 3.33vh;
  top: 37.9vh;
  left: 37%;
}
.slide-5__text p{
  margin-bottom: 4.2vh;
}
.slide-5__text span{
  font-size: 3.7vh;
}
.slide-5__elipse-1{
  position: absolute;
  top: 30vh;
}
.slide-5__elipse-2{
  position: absolute;
  top: 23vh;
}
.slide-5__elipse-3{
  position: absolute;
  top: 22.4vh;
}
.slide-5__elipse-4{
  position: absolute;
  top: 8.6vh;
}
.slide-5__lines-from-elipses{
  position: absolute;
  top: 40.2vh;
  left: 20.5vh
}
.slide-5__lines-from-elipses{
  display: flex;
}
.lines-from-elipses__dots svg{
  display: block;
}
.right-dot-1,
.right-dot-2,
.right-dot-3,
.right-dot-4{
  position: absolute;
  right: 0.1vh;
}
.right-dot-1{
  top: -0.4vh;
}
.right-dot-2{
  top: 8.1vh;
}
.right-dot-3{
  top: 17.3vh;
}
.right-dot-4{
  top: 25.9vh;
}
.left-dot-1,
.left-dot-2,
.left-dot-3,
.left-dot-4{
  position: absolute;
  top: -0.4vh;
}
.left-dot-1{
  right: 28.5vh;
}
.left-dot-2{
  top: 8.1vh;
  right: 39.5vh;
}
.left-dot-3{
  top: 17.3vh;
  right: 46.4vh;
}
.left-dot-4{
  top: 25.9vh;
  right: 34.8vh;
}

#slide-6{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-6__bg{
  height: 100vh;
  background: linear-gradient(180deg, #FE9344 72.5%, #EBEBEB 100%);
}
.slide-6__monoblok-img{
  position: absolute;
  top: -8vh;
  left: -41vh;
}
.slide-6__monoblok-img .monoblok img{
  width: 140.73vh;
  height: 115vh;
}
.slide-6__monoblok-img .monoblok-bg{
  position: absolute;
  top: 12vh;
  left: 11vh;
}
.slide-6__monoblok-img .monoblok-bg img{
  width: 119.72vh;
  height: 66.5vh;
  transform: rotate(-0.15deg);
  border-radius: 0.45vh;
}
.slide-6__tesla-logo-sun{
  position: absolute;
  top: 0;
  right: 0;
}
.slide-6__tesla-logo-sun img{
  width: 86.16vh;
  height: 83.16vh;
}
.slide-6__text{
  position: absolute;
  top: 22.4vh;
  right: 35vh;
  color: #fff;
  font-size: 3.74vh;
}
.text__desc{
  font-weight: 300;
  margin-top: 5vh;
}
.text__title{
  font-weight: 400;
}
.text__title span{
  font-size: 6.66vh;
  font-weight: 600;
}

#slide-7{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-7__tesla-logo-sun{
  position: absolute;
  bottom: 0;
  right: 0;
}
.slide-7__tesla-logo-sun img{
  width: 73.16vh;
  height: 73.16vh;
}

.slide-7__img{
  position: absolute;
  bottom: 0;
  right: 0;
}
.slide-7__img img{
  height: 104vh;
}
.slide-7__desc-block .row div{
  color: #001932;
  font-size: 2.495vh;
  text-align: center;
  margin-top: 6vh;
  width: 25.5vh;
}
.slide-7__desc-block{
  position: absolute;
  left: 14vh;
}
#slide-7 .row{
  display: -webkit-box;
  gap: 10vh;
  margin-bottom: 0vh;
}
.slide-7__title{
  font-weight: 400;
  font-size: 6.66vh;
  color: #001932;
  margin-top: 9vh;
  margin-bottom: 5vh;
}
.slide-7__desc-block .row:last-child div:last-child{
  margin-top: 3vh;
}
.dblock5-img{
  position: absolute;
  left: 44.74vh;
  top: 57.3vh;
  width: 6.861vh;
}
#slide-7 .row .img-1{
  width: 45%;
}
#slide-7 .row .img-2{
  width: 48%;
}
#slide-7 .row .img-3{
  width: 47.6%;
}
#slide-7 .row .img-4{
  width: 29.5%;
}
#slide-7 .row .img-5{
  width: 44.9%;
}
#slide-7 .row .img-6{
  width: 37.7%;
}
.slide-7__mini-desc{
  font-size: 2.495vh;
  color: #001932;
  margin-top: 5vh;
  margin-left: 3.2vh;
}
#slide-8{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-8__bg{
  background: url(/icons/slide-8bg.jfif);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}
.slide-8__fade-block{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(235, 235, 235, 0.80) 0%, rgba(0, 34, 67, 0.80) 100%);
}
.slide-8__text{
  position: absolute;
  top: 0;
  color: #001932;
  text-align: center;
  width: 100%;
  margin-top: 12vh;
}
.slide-8__title{
  font-size: 6.653vh;
  font-weight: 500;
}
.slide-8__subtitle{
  font-size: 3.326vh;
  font-weight: 400;
}
.slide-8__subtitle span{
  font-weight: 700;
}
.slide-8__info-block{
  position: absolute;
  bottom: 20vh;
  height: 50vh;
}
.slide-8__info-block .info__item{
  font-size: 3.326vh;
  color: #fff;
  font-weight: 400;
}
.slide-8__info-block .info__item span{
  font-weight: 700;
  font-size: 4.158vh;
}
.slide-8__info-block{
  position: absolute;
  width: 100%;
  top: 45vh;
  margin: 0 24vh;
}
.slide-8__info-block .info__item-list{
  color: #fff;
  font-weight: 300;
  font-size: 2.495vh;
}
.slide-8__info-block .info__item-list li{
  margin-bottom: 3.33vh;
}
.slide-8__info-block .info__item-list li span{
  font-size: 2.911vh;
  font-weight: 700;
}
.info__item,
.info__line,
.info__item-list{
  display: inline-block;
  vertical-align: middle;
}
.info__item,
.info__line{
  margin-right: 12vh;
}

#slide-9{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-9__bg{
  height: 100vh;
  width: 100%;
  background: #002243;
  position: absolute;
  top: 0;
}
.slide-9__img{
  position: absolute;
  top: 0;
  right: 0;
}
.slide-9__img img{
  width: 72.765vh;
  height: 72.765vh;
}
.slide-9__text{
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: 300;
  font-size: 5.717vh;
}
.slide-9__text .text__item-bold{
  font-weight: 400;
  font-size: 13.306vh;
  margin-top: 6vh;
}
.slide-9__text .text__item{
  margin-left: 0.8vh;
}
.slide-9__text{
  margin-bottom: 10vh;
  margin-left: 15vh;
}

#slide-10{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-10__info-block{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, #F6F6F6 0%, #E0E2E8 100%);
}
#slide-10 .info-block__title{
  color: #001932;
  font-size: 6.66vh;
  margin-top: 8vh;
  margin-left: 10.5vh;
}
#slide-10 .info-block__title span{
  font-size: 8.524vh;
}
#slide-10 .info-block__monoblok{
  position: absolute;
  top: -4.8vh;
  left: 35vh;
}
#slide-10 .info-block__monoblok img{
  width: 100%;
  height: 57vh;
}
#slide-10 .info-block__monoblok-desc-22{
  position: absolute;
  top: 17vh;
  right: 51vh;
}
#slide-10 .info-block__monoblok-desc-24{
  position: absolute;
  top: 16.9vh;
  right: 10vh;
}
#slide-10 .info-block__monoblok-desc-22 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 9.2vh;
  left: 9.8vh;
}
#slide-10 .info-block__monoblok-desc-24 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 9.2vh;
  left: 9.8vh;
}
#slide-10 .info-block__monoblok-desc-22 img{
  width: 28.2vh;
  height: 100%;
  object-fit: cover;
}
#slide-10 .info-block__monoblok-desc-24 img{
  width: 28.2vh;
  height: 100%;
  object-fit: cover;
}
.slide-10__img{
  position: absolute;
  top: -12vh;
  left: -66.5vh
}
.slide-10__img img{
  width: 100%;
  height: 120vh;
  object-fit: cover;
}
.slide-10__characteristics{
  position: absolute;
  bottom: 24vh;
  left: 78.4vh;
  display: -webkit-inline-box;
  width: 100%;
  
}
.characteristics__color .color__white{
  margin-bottom: 5vh;
}
.characteristics__color .color__white img{
  height: 100%;
  width: 7.78vh;
  object-fit: cover;
}
.characteristics__color .color__black img{
  height: 100%;
  width: 7.85vh;
  object-fit: cover;
}
.characteristics__text{
  display: -webkit-inline-box;
  color: #000;
  font-size: 2.5vh;
  font-weight: 300;
  margin-left: 7.5vh;
  gap: 7.5vh;
  position: absolute;
  top: -2.5vh;
  left: 8vh;
}
.characteristics__text span{
  font-weight: 400;
}
.characteristics__warranty{
  background: #FBC636;
  height: 6.445vh;
  width: 120vh;
  position: absolute;
  bottom: -17vh;
  right: 58vh;
  display: flex;
  align-items: center;
}
.characteristics__warranty p{
  color: #000;
  font-weight: 400;
  font-size: 2.5vh;
  margin-left: 3vh;
}
.characteristics__remark{
  position: absolute;
  bottom: -20.5vh;
  left: 17vh;
  font-size: 1.45vh;
}
.tagline{
  position: absolute;
  top: 3.5vh;
  right: 4.5vh;
  font-size: 2.4vh;
  color: #001932;
}

#slide-11{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-11__desktop-img{
  position: absolute;
  top: 20.7vh;
  left: -1.12vh;
}
.slide-11__desktop-img img{
  width: 100%;
  height: 47vh;
  object-fit: cover;
  transform: rotate(-0.27deg);
}
.slide-11__info-block{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, #F6F6F6 0%, #E0E2E8 100%);
}
.slide-11__img{
  position: absolute;
  top: 8vh;
  left: -47.5vh
}
.slide-11__img img{
  width: 100%;
  height: 102vh;
  object-fit: cover;
}
.slide-11__characteristics{
  position: absolute;
  bottom: 24vh;
  left: 78.4vh;
  display: -webkit-inline-box;
  width: 100%;
  
}
#slide-11 .info-block__title{
  color: #001932;
  font-size: 6.66vh;
  margin-top: 8vh;
  margin-left: 2.5vh;
}
#slide-11 .info-block__title span{
  font-size: 8.524vh;
}
#slide-11 .info-block__monoblok{
  position: absolute;
  top: 1vh;
  left: 36.5vh;
}
#slide-11 .info-block__monoblok img{
  width: 100%;
  height: 53vh;
}
#slide-11 .info-block__monoblok-desc-24{
  position: absolute;
  top: 17vh;
  right: 48.5vh;
}
#slide-11 .info-block__monoblok-desc-27{
  position: absolute;
  top: 17vh;
  right: 10vh;
}
#slide-11 .info-block__monoblok-desc-24 img{
  width: 31vh;
  height: 100%;
  object-fit: cover;
}
#slide-11 .info-block__monoblok-desc-27 img{
  width: 27.5vh;
  height: 100%;
  object-fit: cover;
}
#slide-11 .info-block__monoblok-desc-24 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 8.1vh;
  left: 11.5vh;
}
#slide-11 .info-block__monoblok-desc-27 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 8.1vh;
  left: 11.5vh;
}

#slide-11 .info-block__title{
  font-size: 5.717vh;
}
#slide-11 .info-block__title .model{
  font-size: 6.66vh;
} 

#slide-12{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-12__info-block{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, #F6F6F6 0%, #E0E2E8 100%);
}
.slide-12__img{
  position: absolute;
  top: 9.6vh;
  left: -15.6vh
}
.slide-12__img img{
  width: 100%;
  height: 89vh;
  object-fit: cover;
}
.slide-12__characteristics{
  position: absolute;
  bottom: 24vh;
  left: 78.4vh;
  display: -webkit-inline-box;
  width: 100%;
  
}
#slide-12 .info-block__title{
  color: #001932;
  font-size: 6.66vh;
  margin-top: 8vh;
  margin-left: 16.5vh;
}
#slide-12 .info-block__title span{
  font-size: 8.524vh;
}
#slide-12 .info-block__monoblok{
  position: absolute;
  top: 6.66vh;
  left: 58vh;
}
#slide-12 .info-block__monoblok img{
  width: 100%;
  height: 43vh;
}
#slide-12 .info-block__monoblok-desc-24{
  position: absolute;
  top: 17vh;
  right: 48.5vh;
}
#slide-12 .info-block__monoblok-desc-27{
  position: absolute;
  top: 16.9vh;
  right: 10vh;
}
#slide-12 .info-block__monoblok-desc-24 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 10vh;
  left: 13.1vh;
}
#slide-12 .info-block__monoblok-desc-27 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 10vh;
  left: 13.2vh;
}
#slide-12 .info-block__title{
  font-size: 5.717vh;
}
#slide-12 .info-block__monoblok-desc-24 img{
  width: 37.43vh;
  height: 100%;
  object-fit: cover;
}
#slide-12 .info-block__monoblok-desc-27 img{
  width: 32.88vh;
  height: 100%;
  object-fit: cover;
}

#slide-13{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-13__info-block{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, #F6F6F6 0%, #E0E2E8 100%);
}
.slide-13__img{
  position: absolute;
  top: -7.6vh;
  left: -65.6vh
}
.slide-13__img img{
  width: 100%;
  height: 120vh;
  object-fit: cover;
}
.slide-13__characteristics{
  position: absolute;
  bottom: 24vh;
  left: 78.4vh;
  display: -webkit-inline-box;
  width: 100%;
  
}
#slide-13 .info-block__title{
  color: #001932;
  font-size: 6.66vh;
  margin-top: 8vh;
  margin-left: 10.5vh;
}
#slide-13 .info-block__title span{
  font-size: 8.524vh;
}
#slide-13 .info-block__monoblok{
  position: absolute;
  top: -2.75vh;
  left: 35.1vh;
}
#slide-13 .info-block__monoblok img{
  width: 100%;
  height: 57vh;
}
#slide-13 .info-block__monoblok-desc-24 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 8.2vh;
  left: 8.5vh;
}
#slide-13 .info-block__monoblok-desc-27 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 8.2vh;
  left: 12.66vh;
}
#slide-13 .info-block__monoblok-desc-22 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 8.2vh;
  left: 9.5vh;
}
#slide-13 .info-block__title{
  font-size: 5.717vh;
}
#slide-13 .info-block__monoblok-desc-22 img{
  width: 26vh;
  height: 100%;
  object-fit: cover;
}
#slide-13 .info-block__monoblok-desc-24 img{
  width: 26vh;
  height: 100%;
  object-fit: cover;
}
#slide-13 .info-block__monoblok-desc-27 img{
  width: 30.9vh;
  height: 100%;
  object-fit: cover;
}
#slide-13 .info-block__monoblok-desc-22{
  position: absolute;
  top: 9vh;
  right: 34vh;
}
#slide-13 .info-block__monoblok-desc-24{
  position: absolute;
  top: 27vh;
  right: 54.5vh;
}
#slide-13 .info-block__monoblok-desc-27{
  position: absolute;
  top: 27vh;
  right: 10vh;
}
.slide-13__desktop-img{
  position: absolute;
  top: 23.2vh;
  left: -9.3vh;
}
.slide-13__desktop-img img{
  width: 100%;
  height: 52.59vh;
  object-fit: cover;
  transform: rotate(0.3deg);
}

#slide-14{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-14__info-block{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, #F6F6F6 0%, #E0E2E8 100%);
}
.slide-14__img{
  position: absolute;
  top: 14vh;
  left: -1vh
}
.slide-14__img img{
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
.slide-14__characteristics{
  position: absolute;
  bottom: 24vh;
  left: 78.4vh;
  display: -webkit-inline-box;
  width: 100%;
  
}
#slide-14 .info-block__title{
  color: #001932;
  font-size: 6.66vh;
  margin-top: 8vh;
  margin-left: 10.5vh;
}
#slide-14 .info-block__title span{
  font-size: 8.524vh;
}
#slide-14 .info-block__monoblok{
  position: absolute;
  top: 3.6vh;
  left: 53.5vh;
}
#slide-14 .info-block__monoblok img{
  width: 100%;
  height: 46.5vh;
}
#slide-14 .info-block__monoblok-desc-27 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 9.57vh;
  left: 12.3vh;
}
#slide-14 .info-block__title{
  font-size: 5.717vh;
}
#slide-14 .info-block__monoblok-desc-27 img{
  width: 32.9vh;
  height: 100%;
  object-fit: cover;
}
#slide-14 .info-block__monoblok-desc-27{
  position: absolute;
  top: 16vh;
  right: 36vh;
}

#slide-15{
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #EBEBEB;
}
.slide-15__info-block{
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, #F6F6F6 0%, #E0E2E8 100%);
}
.slide-15__img{
  position: absolute;
  top: 13vh;
  left: -1vh
}
.slide-15__img img{
  width: 100%;
  height: 86.5vh;
  object-fit: cover;
}
.slide-15__characteristics{
  position: absolute;
  bottom: 24vh;
  left: 78.4vh;
  display: -webkit-inline-box;
  width: 100%;
  
}
#slide-15 .info-block__title{
  color: #001932;
  font-size: 6.66vh;
  margin-top: 8vh;
  margin-left: 10.5vh;
}
#slide-15 .info-block__title span{
  font-size: 8.524vh;
}
#slide-15 .info-block__monoblok{
  position: absolute;
  top: 4vh;
  left: 49.4vh;
}
#slide-15 .info-block__monoblok img{
  width: 100%;
  height: 44vh;
}
#slide-15 .info-block__monoblok-desc-24 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 7.7vh;
  left: 10vh;
}
#slide-15 .info-block__monoblok-desc-27 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 7.3vh;
  left: 11.55vh;
}
#slide-15 .info-block__monoblok-desc-30 p{
  font-size: 4.1vh;
  font-weight: 400;
  position: absolute;
  top: 7.3vh;
  left: 11.5vh;
}
#slide-15 .info-block__title{
  font-size: 5.717vh;
}
#slide-15 .info-block__monoblok-desc-30 img{
  width: 29vh;
  height: 100%;
  object-fit: cover;
}
#slide-15 .info-block__monoblok-desc-24 img{
  width: 29vh;
  height: 100%;
  object-fit: cover;
}
#slide-15 .info-block__monoblok-desc-27 img{
  width: 29vh;
  height: 100%;
  object-fit: cover;
}
#slide-15 .info-block__monoblok-desc-24{
  position: absolute;
  top: 9vh;
  right: 30vh;
}
#slide-15 .info-block__monoblok-desc-27{
  position: absolute;
  top: 27vh;
  right: 49.5vh;
}
#slide-15 .info-block__monoblok-desc-30{
  position: absolute;
  top: 27vh;
  right: 10vh;
}

#slide-16{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-16__bg{
  height: 100vh;
  background: url(/icons/TESLA2\ 56\ 1.png) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}
.slide-16__light-blue{
  background: rgba(22, 53, 82, 0.70);
  position: absolute;
  top:0;
  width: 100%;
  height: 100vh;
}
.slide-16__img{
  position: absolute;
  bottom: -3.9vh;
  right: -4.5vh;
}
.slide-16__img img{
  width: 36.7vw;
}
.slide-16__text{
  position: absolute;
  top: 41vh;
  left: 16vh;
  color: #fff;
  font-weight: 400;
  font-size: 4.99vh;
}
.slide-16__text span{
  color: #EC9248;
  font-weight: 700;
  font-size: 6.237vh;
}

#slide-17{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-17__bg{
  background: url(/icons/Group\ 37.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
}
#slide-17{
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#slide-18{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide-18__bg{
  background: #002243;
  height: 100vh;
}
.slide-18__header{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7vh 6vh;
}
.slide-18__header .header__text{
  color: #fff;
  font-size: 5vh;
}
.slide-18__header .header__text span.text__bold{
  color: #fff;
  font-size: 13.3vh;
}
.header__logo{
  margin-top: 3.67vh;
}
.header__logo img{
  width: 17.5vh;
  height: 17.5vh;
}
.text__normal{
  display: block;
  margin-left: 1vh;
  margin-top: 2vh;
}
.slide-18__info-block{
  position: absolute;
  bottom: 13vh;
  font-weight: 300;
  display: -webkit-box;
  padding-left: 6vh;
  gap: 20vh;
}
.slide-18__info-block .info-block__1 span,
.slide-18__info-block .info-block__2 span{
  font-size: 5vh;
  color: #F29A51;
}
.slide-18__info-block .info-block__1,
.slide-18__info-block .info-block__2{
  font-size: 3.3vh;
  color: #fff;
}
.info-block__2 a{
  color: #fff;
}